.socials {
  font-family: good-times, sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.1rem;
  grid-row-start: 3;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
  border: 4px solid var(--orange);
  height: 50px;
  padding: 0.5rem;
}

.socials p {
  font-size: 0.6rem;
}

.socials a {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
}