body {
  padding: 0px 24px;
  font-family: "SUSE", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
}

h1, 
h2, 
h3 {
  text-transform: uppercase;
  font-family: "Train One", sans-serif;
}

p {
  line-height: 1.4;
}

.contentBox {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 24px 24px 24px 0;
  display: inline-block;
  height: fit-content;
  min-width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  transition-timing-function: ease-out;
  transition-duration: 0.14s;
  transition-property: ease-out;
  transition: box-shadow 0.14s ease-out, transform 0.14s ease-out;
}

.contentBox:hover {  
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0rem black;    
}

#socials {
  display: flex;
  flex-direction: column;
}

.title-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}