:root {
  --purple: #592ffb;
  --light-purple: #8662e1;
  --yellow: #f7c621;
  --pink: #fc9ec0;
  --bright-pink: #ca1bff;
  --blue: #4dbade;
  --orange: #fd6a12;
  --green: #135839;
  --light-green: #afeee0;
}

body {
  width: 100vw;
  font-size: 62.5%;
}

p,
li {
  font-size: 1rem;
}

h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  ;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

.mobile-version {
  display: grid;
  padding: 5%;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

section {
  display: flex;
  width: 99%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 4px 4px 0 #000000;
  transition: transform 0.2s;
  padding: 5%;
  border-radius: 5px;
}

.name {
  display: flex;
  grid-row-start: 1;
  background-color: #afeee0;
  flex-direction: column;
  height: 4rem;
  padding: 0;
  border: 2px solid #ca1bff;
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px #000;
}

#firstname {
  font-size: 3.6rem;
  line-height: 1rem;
  font-optical-sizing: auto;
  font-family: gloridot, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4rem;
  align-self: flex-start;
}

/* .surname {
  grid-row-start: 2;
  background-color: var(--purple);
  color: white;
  border: 8px solid var(--yellow);
  padding: 0;
} */

#surname {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-family: flegrei, sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: flex-end;
  line-height: 2rem;
}

.affirmations {
  font-family: logic-monoscript, mono;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.1rem;
  grid-row-start: 2;
  border: 2px solid var(--green);
}


.div5 {
  display: none;
}

.skills-and-projects {
  grid-row-start: 6;
  border: 2px solid var(--blue);
  /* background-color: var(--bright-pink); */
  font-family: logic-monospace, mono;
  font-weight: 400;
  font-style: normal;
}

.skills-and-projects h2 {
  font-family: gloridot, sans-serif;
  font-weight: 400;
}

.handwriting {
  font-family: logic-monoscript, mono;
  font-weight: 400;
  font-style: normal;
}

/* 
.padding-colour {
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
} */

.filters {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filters,
.filters p {
  font-size: 0.8rem
}

#skill-filter-container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
}

optgroup {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
}

.filters select,
.filters button {
  background-color: var(--yellow);
  font-size: 0.8rem;
  border: none;
  box-shadow: 3px 3px 0 #414141;
  transition: transform 0.2s;
  border-radius: 4px;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

#allSkillBtnContainer {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
}

#allSkillsBtn {
  width: 6rem;
  padding-right: 0.5rem;
}

.filters-display {
  color: black;
  display: flex;
  justify-content: center;
  border-top: 1px dotted black;
  margin-bottom: 1rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2px;
  padding: 1rem;
  border: 2px dotted var(--light-green);
  margin-bottom: 0.5rem;
}

.project-logo {
  grid-column: span 1;
  grid-row: 1;
  align-self: center;
}

.with-logo {
  grid-column: 2 / 3;
  grid-row: 1;
}

.no-logo {
  grid-column: 1 / 3;
  grid-row: 1;
}

.project h3 {
  object-fit: contain;
  font-size: 1rem;
  font-family: logic-monoscript, mono;
  font-weight: 500;
  align-self: center;
}



.project-links {
  grid-column: 1 / 3;
  grid-row: 2;
  font-size: 0.5rem;
  font-family: logic-monospace, mono;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.project-links p {
  font-size: 0.75rem;
}

.screenshot {
  grid-column: 1 / span 2;
  grid-row: 3;
  justify-self: center;
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.projectText {
  font-family: logic-monospace, mono;
  font-weight: 400;
  line-height: 1.1rem;
  grid-column: 1 / span 2;
  grid-row: 4;
  font-size: 0.75rem;
}


#tech-stack {
  font-family: good-times, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
}

#skills-list {
  font-family: logic-monospace, mono;
  font-weight: 400;
  font-size: 0.9rem;
}

.all-skills-display {
  background-color: var(--green);
  color: white;
  padding: 0.5rem;
}

.all-skills-display h3 {
  font-family: logic-monoscript, mono;
  font-weight: 500;
  font-size: 1.1rem;
}

.all-skills-display h4,
.all-skills-display ul {
  font-family: logic-monospace, mono;
  font-size: 1rem;
}

.skill-category {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid var(--bright-pink);
}

.skill-category:last-of-type {
  border-bottom: none;
}

.hide {
  display: none;
}

.cta {
  font-family: logic-monospace, mono;
  border: 2px solid var(--orange);
}

footer {
  padding: 1rem;
  color: white;
  background-color: rgb(83, 66, 236);
}

.bunnies {
  margin: auto;
}

.screen-size-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  z-index: 1000;
  text-align: center;
  padding: 20px;
}

.screen-size-message h1 {
  font-family: flegrei, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  /* Extra bold */
  margin-bottom: 15px;
}

.screen-size-message p {
  padding: 1rem;
}

/* Hide all messages initially */
.extra-large-screen,
.large-screen,
.medium-screen,
.almost-there-screen {
  display: none;
}


/* Media Queries for Breakpoints & Language Selection */

/* Extra Large Screens */
@media only screen and (min-width: 2000px) {
  .mobile-version {
    display: none;
  }

  .screen-size-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .extra-large-screen {
    display: block;
  }
}

/* Large Screens */
@media only screen and (min-width: 1400px) and (max-width: 1999px) {
  .mobile-version {
    display: none;
  }

  .screen-size-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .large-screen {
    display: block;
  }
}

/* Medium Screens */
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .mobile-version {
    display: none;
  }

  .screen-size-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .medium-screen {
    display: block;
  }
}

/* Almost There (Slightly larger than ideal mobile) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-version {
    display: none;
  }

  .screen-size-message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .almost-there-screen {
    display: block;
  }
}

.spanish {
  font-family: "bimbo-pro-sharpie", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-top: 1px dotted var(--light-purple);
  font-size: 1.5rem;

}

.french {
  font-family: "santelia-rough-two", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-top: 2px dotted var(--blue);
  font-size: 1.1rem;

}

.arabic {
  font-family: "adapter-arabic-text", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-top: 2px dotted var(--yellow);
  font-size: 1.5rem;
}

.korean {
  font-family: "hoonicetea", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  border-top: 2px dotted var(--pink);
}

.english {
  font-family: logic-monoscript, mono;
  font-weight: 400;
  font-size: 1.5rem;
}