:root {
  --purple: #592ffb;
  --light-purple: #8662e1;
  --yellow: #f7c621;
  --pink: #fc9ec0;
  --bright-pink: #ca1bff;
  --blue: #4dbade;
  --orange: #fd6a12;
  --green: #135839;
  --light-green: #afeee0;
}

body {
  width: 100vw;
  font-size: 62.5%;
}

p,
li {
  font-size: 1rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  ;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

.parent {
  display: grid;
  padding: 5%;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

section {
  display: flex;
  width: 99%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 6px 6px 0 #414141;
  transition: transform 0.2s;
  padding: 5%;
  border-radius: 8px;
}

.firstname {
  grid-row-start: 1;
  background-color: #afeee0;
  border: 14px solid #ca1bff;
  flex-direction: column;
  height: 4rem;
  padding: 0;
}

.firstname h1 {
  font-size: 3.6rem;
  font-optical-sizing: auto;
  font-family: gloridot, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5rem;
  align-self: flex-start;
}

/* glitch starts */

.glitch {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 4em;
  letter-spacing: 0.5em;
  /* Animation provies a slight random skew. Check bottom of doc
     for more information on how to random  
 skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  /* Duplicates our text with the mixin. */
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Scoots text slightly to the left for the color offset. */
  left: 2px;
  /* Creates the color 'shadow' that happens on the glitch. */
  text-shadow:
    -2px 0 var(--bright-pink);
  /* Creates an initial clip for our glitch. This works in
     a typical top,right,bottom,left fashion and creates a mask
     to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
     with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  /* Duplicates our text with the mixin. */
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 var(--blue), 2px 2px var(--bright-pink);
  animation: glitch-anim2 1s infinite linear alternate-reverse;

}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(72px,
        9999px, 33px, 0);
    transform: skew(0.18deg);
  }

  5% {
    clip: rect(17px, 9999px, 83px, 0);
    transform: skew(0.95deg);
  }

  10% {
    clip: rect(4px, 9999px, 15px, 0);
    transform: skew(0.37deg);
  }

  15% {
    clip: rect(83px, 9999px, 88px, 0);
    transform: skew(0.81deg);
  }

  20% {
    clip: rect(34px, 9999px, 38px, 0);
    transform: skew(0.29deg);
  }

  25% {
    clip: rect(76px, 9999px, 49px, 0);
    transform: skew(0.73deg);
  }

  30% {
    clip: rect(19px, 9999px, 5px, 0);
    transform: skew(0.1deg);
  }

  35% {
    clip: rect(63px, 9999px, 71px, 0);
    transform: skew(0.61deg);
  }

  40% {
    clip: rect(60px, 9999px, 83px, 0);
    transform: skew(0.56deg);
  }

  45% {
    clip: rect(23px, 9999px, 60px, 0);
    transform: skew(0.22deg);
  }

  50% {
    clip: rect(2px, 9999px, 8px, 0);
    transform: skew(0.02deg);
  }

  55% {
    clip: rect(89px, 9999px, 67px, 0);
    transform: skew(0.86deg);
  }

  60% {
    clip: rect(58px, 9999px, 27px, 0);
    transform: skew(0.53deg);
  }

  65% {
    clip: rect(52px, 9999px, 59px, 0);
    transform: skew(0.47deg);
  }

  70% {
    clip: rect(90px, 9999px, 80px, 0);
    transform: skew(0.87deg);
  }

  75% {
    clip: rect(2px, 9999px, 95px, 0);
    transform: skew(0.02deg);
  }

  80% {
    clip: rect(84px, 9999px, 69px, 0);
    transform: skew(0.8deg);
  }

  85% {
    clip: rect(86px, 9999px, 91px, 0);
    transform: skew(0.82deg);
  }

  90% {
    clip: rect(10px, 9999px, 62px, 0);
    transform: skew(0.1deg);
  }

  95% {
    clip: rect(56px, 9999px, 31px, 0);
    transform: skew(0.51deg);
  }

  100% {
    clip: rect(30px, 9999px, 78px, 0);
    transform: skew(0.25deg);
  }
}

/* Same deal, just duplicated for ultra randomness. */
@keyframes glitch-skew {
  0% {
    transform: skew(-2deg);
  }

  10% {
    transform: skew(0deg);
  }

  20% {
    transform: skew(4deg);
  }

  30% {
    transform: skew(1deg);
  }

  40% {
    transform: skew(-4deg);
  }

  50% {
    transform: skew(-3deg);
  }

  60% {
    transform: skew(3deg);
  }

  70% {
    transform: skew(2deg);
  }

  80% {
    transform: skew(-1deg);
  }

  90% {
    transform: skew(-3deg);
  }

  100% {
    transform: skew(3deg);
  }
}

/* glitch ends */

.surname {
  grid-row-start: 2;
  background-color: var(--purple);
  color: white;
  border: 8px solid var(--yellow);
  padding: 0;
}

.surname h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-family: flegrei, sans-serif;
  font-weight: 400;
  font-style: normal;
  align-self: flex-end;
}

.affirmations {
  font-family: logic-monoscript, mono;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  grid-row-start: 4;
  border: 4px solid var(--green);
}

.div5 {
  display: none;
}

.about {
  grid-row-start: 6;
  border: 4px solid var(--pink);
}

.about h2 {
  font-family: flegrei, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about p {
  align-self: flex-start;
  font-family: logic-monospace, mono;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-bottom: 1.2rem;
}

.about p:last-child {
  margin-bottom: 0;
}

.skills-and-projects {
  grid-row-start: 7;
  border: 4px solid var(--blue);
  background-color: var(--bright-pink);
  font-family: forma-djr-text, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.skills-and-projects h2 {
  font-family: gloridot, sans-serif;
  font-weight: 400;
}

.handwriting {
  font-family: beth-ellen, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.padding-colour {
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
}

.filters {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted black;
}

.filters,
.filters p {
  font-size: 0.8rem
}

.skill-filter {
  grid-column: 1;
  grid-row: 1;
}

optgroup {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  font-style: normal;
}

.filters select,
.filters button {
  background-color: var(--yellow);
  font-size: 0.8rem;
  border: none;
  box-shadow: 3px 3px 0 #414141;
  transition: transform 0.2s;
  border-radius: 4px;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
}

.filters-display {
  color: black;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.project {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0px;
}

.project-logo {
  grid-column: span 1;
  grid-row: 1 / span 2;
  height: 100px;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.project h3 {
  grid-column: 2 / 3;
  grid-row: 1;
}

.project-links {
  grid-column: 2 / 3;
  grid-row: 2;
}

.screenshot {
  grid-column: 1 / span 2;
  grid-row: 3;
  width: 100%;
  height: auto;
}

.projectText {
  grid-column: 1 / span 2;
  grid-row: 4;
}






.hide {
  display: none;
}



footer {
  padding: 1rem;
  color: white;
  background-color: rgb(83, 66, 236);
}