body {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1.5rem;
}

ul {
  padding: 0;
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  border: solid 1px #000000;
  padding: 1.5rem;
}

li {
  list-style: none;
}

/* active link styles */
.current {
  background-color: blue;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

:is(h1, h2, h3, h4)+ :not(p) {
  margin-top: 1rem;
}

section {
  border: #000000 solid 1px;
  padding: 1.5rem;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.tech-grid li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 0.5rem;
}

.tech-item figcaption {
  text-align: center;
}

.tech-item i {
  color: #000000;
  font-size: 2rem;
}

footer {
  font-size: small;
  text-align: center;
}

footer p:nth-of-type(2) {
  display: none;
}

footer p:last-of-type {
  margin-bottom: 1rem;
}

@media (min-width: 460px) {
  .tech-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  footer p:nth-of-type(2) {
    display: inline;
  }

}